html,
body,
#root,
.playground {
    height:100%;
}

.playgroundCode,
.playgroundPreview {
    width: 50%;
    height:100%;
    overflow: auto;
}

input[type="text"],
select {
    border: 1px solid #ccc;
    font: 14px proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    padding: 3px;
    width: 150px;
}
